<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <header>
        <div class="block1">
            <a href="#">
                <p>весняний модний розпродаж до -40%</p>
            </a>

        </div>
        <div class="block2">
            <div class="burger_menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="logo">
                <a href="http://">
                    <img class="big" src="./images/229862237.svg" alt="">
                    <img class="small" src="./images/229862238.svg" alt="">
                </a>
            
            </div>
            <div class="catalog">
                <img src="./images/services.svg" alt="">
                    
                <p>каталог</p>
            </div>
            <div class="search">
                <img class='icon_search' src="./images/search.png" alt="" srcset="">
                <form>
                    <input type='text' placeholder='Я шукаю ...' />
                </form>
                <div class="devider">

                </div>
                <img class='icon_microphone' src="./images/microphone.png" alt="" srcset="">
                <button class="search_button">
                    знайти
                </button>
            </div>
            <div class="language">
                <div class="ru">RU</div>
                <div class="devider"></div>
                <img src="./images/flag-ua.svg" alt="" srcset="">
                <div class="ua">UA</div>
            </div>
            <div class="buttons">
                <div class="login_button">
                    <img class="user_icon" src="./images/user2.svg" alt="" srcset="">
                </div>
                <div class="cart_button">
                    <img class="user_icon" src="./images/cart.svg" alt="" srcset="">
                </div>
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>